<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根标签 -->
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.yicj.model.User" />
    </typeAliases>

    <plugins>
        <plugin interceptor="com.yicj.plugin.HelloMybatisInterceptor" />
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
            <property name="offsetAsPageNum" value="true"/>
            <property name="rowBoundsWithCount" value="true"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="true"/>
            <property name="params" value="pageNum=start;pageSize=list;"/>
            <property name="supportMethodsArguments" value="true"/>
            <property name="returnPageInfo" value="check"/>
        </plugin>
    </plugins>

    <mappers>
        <mapper resource="mappers/UserMapper.xml" />
    </mappers>
</configuration>